.example-card {
    /* width: -webkit-fill-available; */
    width: 65%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    
  }
  #btn_title:hover{
    background-color: brown;
  }