

<mat-grid-list cols="4"  aria-rowspan="2">
    <mat-grid-tile>
        
        <mat-card class="example-card">
            
        <mat-card-header style="justify-content: center;direction: rtl;">
            <h1 style="font-size: x-large;font-weight: bold;">Digitals</h1>
          <!-- <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="font-size: x-large;font-weight: bold;">وسایل الکترونیکی</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
           -->
        </mat-card-header>
        <p style="font-weight: bold;display: inline;">25% OFF</p>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="2:2">
                <mat-grid-tile> <img mat-card-image style="width: -webkit-fill-available;" src="https://images-eu.ssl-images-amazon.com/images/G/39/electronics/store/kamja/WebQC/May_ElecTV_1x._SY116_CB433622170_.jpg" alt="Photo of a Shiba Inu">  </mat-grid-tile>
                <mat-grid-tile> <img mat-card-image style="width: -webkit-fill-available;" src="https://images-eu.ssl-images-amazon.com/images/G/39/electronics/store/kamja/WebQC/May_ElecWearables_1x._SY116_CB430829907_.jpg"></mat-grid-tile>
                <mat-grid-tile> <img mat-card-image style="width: -webkit-fill-available;" src="https://images-eu.ssl-images-amazon.com/images/G/39/electronics/store/kamja/WebQC/May_ElecAudio_1x._SY116_CB433622171_.jpg" alt="Photo of a Shiba Inu"></mat-grid-tile>
                <mat-grid-tile> <img mat-card-image style="width: -webkit-fill-available;" src="https://images-eu.ssl-images-amazon.com/images/G/39/electronics/store/kamja/WebQC/May_ElecCamera_1x._SY116_CB433622171_.jpg" alt="Photo of a Shiba Inu"></mat-grid-tile>
              </mat-grid-list>
          <!-- <p style="float: right;">
          قیمت:  {{Price}}
          </p> -->
        </mat-card-content>
        <mat-card-actions style="width: -webkit-fill-available;">
          <button mat-button  color="primary" id="1" (click)="itemclick('1')" style="outline: none">Visit</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card class="example-card">
        <mat-card-header style="justify-content: center;direction: rtl;">
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <!-- <mat-card-title style="font-size: x-large;font-weight: bold;">وسایل الکترونیکی</mat-card-title> -->
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        <h1 style="font-size: x-large;font-weight: bold;">Dress</h1>
        </mat-card-header>
        <p style="font-weight: bold;display: inline;">25% OFF</p>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="2:2">
                <mat-grid-tile> <img mat-card-image src="https://images-eu.ssl-images-amazon.com/images/G/39/UAE-hq/2019/img/Apparel/XCM_CUTTLE_186x116_1204479_1038185_c636dfd6_f5b7_495d_9458_ba320f222b04_png._SY116_CB446623324_.png" alt="Photo of a Shiba Inu">  </mat-grid-tile>
                <mat-grid-tile> <img mat-card-image src="https://m.media-amazon.com/images/I/81+zDvaCx9L._AC_UL320_.jpg"></mat-grid-tile>
                <mat-grid-tile> <img mat-card-image src="https://m.media-amazon.com/images/I/815aHtCVOaL._AC_UL320_.jpg" alt="Photo of a Shiba Inu"></mat-grid-tile>
                <mat-grid-tile> <img mat-card-image src="https://m.media-amazon.com/images/I/71elTRWzenL._AC_UL320_.jpg" alt="Photo of a Shiba Inu"></mat-grid-tile>
              </mat-grid-list>
          <!-- <p style="float: right;">
          قیمت:  {{Price}}
          </p> -->
        </mat-card-content>
        <mat-card-actions>
          <button mat-button  color="primary" id="2" (click)="itemclick('2')" style="outline: none">Visit</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card class="example-card">
        <mat-card-header style="justify-content: center;direction: rtl;">
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <!-- <mat-card-title style="font-size: x-large;font-weight: bold;">وسایل الکترونیکی</mat-card-title> -->
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        <h1 style="font-size: x-large;font-weight: bold;">Home Kits</h1>
        </mat-card-header>
        <p style="font-weight: bold;display: inline;">25% OFF</p>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="2:2">
                <mat-grid-tile> <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/71VBVFkeUIL._AC_SX522_.jpg" alt="Photo of a Shiba Inu">  </mat-grid-tile>
                <mat-grid-tile> <img mat-card-image src="https://www.aceuae.com/dw/image/v2/BCGQ_PRD/on/demandware.static/-/Sites-homeworks-ace-master-catalog/en_AE/dw38536fdc/930296_103.jpg?sw=896&sh=896&sm=fit"></mat-grid-tile>
                <mat-grid-tile> <img mat-card-image src="https://www.aceuae.com/dw/image/v2/BCGQ_PRD/on/demandware.static/-/Sites-homeworks-ace-master-catalog/en_AE/dw5e52fb9e/930296_101.jpg?sw=896&sh=896&sm=fit" alt="Photo of a Shiba Inu"></mat-grid-tile>
                <mat-grid-tile> <img mat-card-image src="  https://www.ikea.com/ae/en/images/products/fixa-17-piece-tool-set__0711971_PE728599_S5.JPG?f=xl 750w" alt="Photo of a Shiba Inu"></mat-grid-tile>
              </mat-grid-list>
          <!-- <p style="float: right;">
          قیمت:  {{Price}}
          </p> -->
        </mat-card-content>
        <mat-card-actions>
          <button mat-button  color="primary" id="3" (click)="itemclick('3')" style="outline: none">Visit</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card class="example-card">
        <mat-card-header style="justify-content: center;direction: rtl;">
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <!-- <mat-card-title style="font-size: x-large;font-weight: bold;">وسایل الکترونیکی</mat-card-title> -->
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        <h1 style="font-size: x-large;font-weight: bold;">Medical Utilities</h1>
        </mat-card-header>
        <p style="font-weight: bold;display: inline;">25% OFF</p>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="2:2">
                <mat-grid-tile> <img mat-card-image src="https://images-eu.ssl-images-amazon.com/images/G/39/electronics/store/kamja/LP/Wireless/Flagship/iphone11_en.jpg" alt="Photo of a Shiba Inu">  </mat-grid-tile>
                <mat-grid-tile> <img mat-card-image src="https://images-eu.ssl-images-amazon.com/images/G/39/electronics/store/kamja/LP/Wireless/Flagship/huaweip40_en.jpg"></mat-grid-tile>
                <mat-grid-tile> <img mat-card-image src="https://images-eu.ssl-images-amazon.com/images/G/39/electronics/store/kamja/LP/Wireless/Flagship/motog9_en.jpg" alt="Photo of a Shiba Inu"></mat-grid-tile>
                <mat-grid-tile> <img mat-card-image src="https://images-eu.ssl-images-amazon.com/images/G/39/electronics/store/kamja/LP/Wireless/Flagship/note20_en.jpg" alt="Photo of a Shiba Inu"></mat-grid-tile>
              </mat-grid-list>
          <!-- <p style="float: right;">
          قیمت:  {{Price}}
          </p> -->
          
        </mat-card-content>      
        <mat-card-actions>
          <button mat-button  color="primary" id="4" (click)="itemclick('4')" style="outline: none">Visit</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card></mat-grid-tile>
  </mat-grid-list>

<br>
<br>
<br>
<app-shopping-items [CatId]="catid" (TheId)="changeTheID()"></app-shopping-items>
<app-shopping-cart></app-shopping-cart>
