<p>
    <mat-toolbar>
      <span>
          
        <img style="width: 6%;    " src="https://cdn.onlinewebfonts.com/svg/img_343895.png"></span>
        <h2 style="    margin-left: 27%;">Sample Shop</h2>
    </mat-toolbar>
  </p>
<br>


<router-outlet></router-outlet>