<br>
<mat-grid-list cols="4"  [gutterSize]="'50px'">
    <mat-grid-tile *ngFor="let items of searchs;" style="    display: list-item;">
        <mat-card class="example-card" style="    text-align: -webkit-center;" >
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <!-- <mat-card-title>{{items.ProductName}}</mat-card-title> -->
              <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <img mat-card-image style="    width: 113px;height: auto;" src="{{items.ProductImageSRC}}" >
            <mat-card-content>  
              <p>
                {{items.ProductName}}
              </p>
              <h3>{{items.ProductPrice}}</h3>
              <button  mat-button>LIKE</button>
              <button id="{{items.ProductName}}" #btn  (click)="AddtoCart(btn)" mat-button>Buy</button>
            </mat-card-content>
            <!-- <mat-card-actions style="margin-top: -23px;">
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>      
    </mat-grid-tile>
    <br>
  </mat-grid-list>
<!-- 
  <p>{{this.TheId}} </p> -->